<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        input {
            display: block;
            color:black;
        }
        body{
            background-color: black;
            color:white;
        }
        
        H1         {
            padding-bottom: 15px;
        }
    </style>

</head>

<body>
     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'memes_home'%}">Memes Store</a>
                
                <a class="navbar-brand" href="/photos/addmeme">Add your memes</a>
                </div>
                {% if not user.is_authenticated %}

                <ul class="nav navbar-nav navbar-right">
      <li><a href="/photos/add_me/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/photos/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    {% else %}
              <ul class="nav navbar-nav navbar-right">
                  
      <li><a href="/photos/logout/"><span class="glyphicon glyphicon-log-out"></span>Not {{hi}}?,Logout</a></li>
              </ul>
    {%endif%}
            
        </div>
    </nav>
    {% if user.is_authenticated %}
    <center>
        <h1>Add your Meme</h1>
        
        <form action="#" method="POST" enctype="multipart/form-data"> 
           {% csrf_token %}
           <div  style="padding-bottom: 10px;" > <span>{{form}}</span></div>
          
           <br/>
             <input  type="submit" value="Submit" />
       </form>
    </center>
    {% endif %}
</body>

</html>
