<!doctype html>
<html>

<head>
    <title>Welecome to the Meme Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body,
        html {
            font-family: 'Roboto', 'sans-serif';
            font-size: 50px;
            color: white;
            background-color: black;
        }
        
        h1 {
            display: none;
        }
        
        a {
            text-decoration: none;
            color: yellow;
        }
        nav,p{
            font-family: 'Lobster'
        }
    </style>
    <script>
        $(document).ready(function () {
            $('h1').fadeIn(2200);
            });
    </script>
</head>

<body>
    <center>

        <h1><p>Welcome to the GIF Store</p></h1>
        <h5><p>Click <A href="/gif/gifs.html">here </A>to get started</p></h5>
    </center>
</body>

</html>